#signUpButton:hover {
    -fx-background-color: #303030!important;
}

#signUpButton:pressed {
    -fx-background-color: #252525!important;
}

.leet-labels-panes {
    -fx-background-color: #0c4f00;
}

.leet-lists-btns {
    -fx-background-color: #072a00;
}

.main-class {
    -fx-background-color: #363636;
}

#passwordField {
    -fx-text-fill: #dadada;
}

#loginField {
    -fx-text-fill: #dadada;
}

#signInButton {
    -fx-background-color: #474747!important;
}

#signUpButton {
    -fx-background-color: #474747!important;
}

#signInButton:hover {
    -fx-background-color: #303030!important;
}

#signInButton:pressed {
    -fx-background-color: #252525!important;
}