.active-button {
    -fx-font-weight: bold;
}

.leet-labels-panes {
    -fx-background-color: #0c4f00 !important;
}

.leet-lists-btns {
    -fx-background-color: #072a00 !important;
}

Button {
    -fx-background-color: #474747;
    -fx-text-fill: #FFFFFF;
}

Button:hover {
    -fx-background-color: #303030 !important;
}

Button:pressed {
    -fx-background-color: #252525 !important;
}

.history-item {
    -fx-text-fill: #dadada; -fx-background-color: #363636;
}

.history-list {
    -fx-background-color: #363636; -fx-border-color: #474747;
}

.main-class {
    -fx-background-color: #363636;
}

#historyList .list-cell {
    -fx-background-color: #363636 !important;
    -fx-text-fill: #dadada !important;
}

#historyList .scroll-bar {
    /* Set the background color of the vertical scroll bar to #C0C0C0 */
    -fx-background-color: #404040;
}

#historyList .scroll-bar .thumb{
    -fx-background-color: #4d4d4d;
}