.active-button {
    -fx-font-weight: bold;
}

Button {
    -fx-background-color: #474747 !important;
    -fx-text-fill: #FFFFFF !important;
}

Button:hover {
    -fx-background-color: #303030 !important;
}

Button:pressed {
    -fx-background-color: #252525 !important;
}

#historyList .list-cell {
    -fx-background-color: #363636 !important;
    -fx-text-fill: #dadada !important;
}

#historyList .scroll-bar {
    /* Set the background color of the vertical scroll bar to #C0C0C0 */
    -fx-background-color: #404040;
}

#historyList .scroll-bar .thumb{
    -fx-background-color: #4d4d4d;
}