.table-view .column-header .label {
    -fx-text-fill: #dadada;
}

.table-cell {
    -fx-text-fill: #dadada;
}

.table-row-cell {
    -fx-border-color: #474747;
    -fx-table-cell-border-color: #474747;
}