.list-cell:selected {
    -fx-background-color: #474747;
    -fx-text-fill: #b2b2b2;
}

.list-cell {
    -fx-background-color: #474747;
    -fx-text-fill: #dadada;
    -fx-border-color: #474747;
}

.leet-labels-panes {
    -fx-background-color: #0c4f00;
}

.leet-lists-btns {
    -fx-background-color: #072a00;
}

.main-class {
    -fx-background-color: #363636;
}

.combo-box {
    -fx-border-color: #474747;
}

TextField {
    -fx-text-fill: #dadada;
}

.empty-textfield {
    -fx-effect: dropshadow(one-pass-box , rgba(255, 0, 0, 0.5), 0, 0.0 , 0 , 1);
}

Button:hover {
    -fx-background-color: #333333 !important;
}

Button:pressed {
    -fx-background-color: #303030 !important;
}